@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --red: #ff7a7a; 
    --green: #38cc8c;
    --blue: #6055a5;
    --dark-blue: #3e3c49 ;
    --grayish-blue: #b9b6d3;
}

body {
    background-image: url('/images/bg-intro-desktop.png');
    background-color: var(--red);
    display: grid;
    grid-template-columns: 1fr 500px 55px 500px 1fr;
    grid-template-areas: 
    ". section1 . section2 .";
    height: 100vh;
}

.left-container{
    grid-area: section1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    min-height: 500px;
    color: white;  
}

.left-container__title{
    font-size: 3rem;
    line-height: 1.1;
}

.right-container{
    grid-area: section2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
}

.right-container__link{
    background-color: #6055a5;
    text-align: center;
    padding: 15px 25px;
    margin-bottom: 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.8rem;
    width: 100%;
    box-shadow: 0 7px 0px rgba(0, 0, 0, 0.151);
}

.right-container__form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 500px;
    width: 100%;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 7px 0px rgba(0, 0, 0, 0.151);
}

.form__input-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

input{
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
    padding: 0 30px;
    font-weight: 600;
}


input:focus-within{
    border: 1px solid var(--dark-blue);
    outline: 0;
}

.input-container__icon{
    position: absolute;
    align-self: flex-end;
    right: 32px;
    top: 13px;
    display: none;    
}

.input-container__icon--active{
    display: block;
}

.input-container__error{
    text-align: end;
    color: var(--red);
    display: none;
    font-style: italic;
    font-size: 0.7rem;
    margin-top: 5px;
}

.input-container__error--active{
    display: block;
}

input[type="submit"]{
    background-color: var(--green);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid var(--green);
    box-shadow: 0 4px 0px #30b179;
    cursor: pointer;
    transition: .3s;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: #77daaf;
    
}

.right-container__text{
    text-align: center;
    font-size: 0.65rem;
    color: var(--grayish-blue);
    margin-top: 20px;
}

.right-container__strong{
    color: var(--red);
}



